.gallery-head{
    text-align: center;
    padding-top: 50px;
    font-size: larger;
}


.gallery-head h1::after{
    content: '';
    width: 80px;
    background-color: orange;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
   
}

.gallery img{
    overflow: hidden; /* To hide the overflow of the scaled image */
    border-radius: 20px;
    background-color: aqua;
    height: 300px;
    width: 400px;
    transition: transform 0.3s ease; /* Smooth transition */
}

.gallery img:hover  {
    transform: scale(1.2); /* Scale the image on hover */
}




.gallery-head .flex{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}